<div class="container" style="overflow: hidden;" [ngClass]="{'stop': status == 1, 'play': status == 2, 'pause': status == 3, 'habilitado': habilitado, 'desabilitado': !habilitado}">
	<cd-timer #timer format="hms" [autoStart]="false" class="contador" [ngStyle]="{'display': status != 0 ? 'flex' : 'none'}"></cd-timer>	
	<div class="controles-contador">
		<button mat-icon-button class="play" [title]="status != 3 ? 'Iniciar Contagem' : 'Continuar Contagem'" (click)="iniciarContagem()" [disabled]="!habilitado" *ngIf="status == 0 || status == 3">
			<mat-icon class="nav-toolbar-icon-menu">play_arrow</mat-icon>
		</button>
		<button mat-icon-button class="pause" title="Pausar Contagem" (click)="pausarContagem()" [disabled]="!habilitado" *ngIf="status == 2">
			<mat-icon class="nav-toolbar-icon-menu">pause</mat-icon>
		</button>
		<button mat-icon-button class="stop" title="Parar Contagem" (click)="pararContagem()" [disabled]="!habilitado" *ngIf="status == 2 || status == 3">
			<mat-icon class="nav-toolbar-icon-menu">stop</mat-icon>
		</button>
		<button mat-icon-button class="delete" title="Excluir Apontamento" (click)="resetarContador()" [disabled]="!habilitado" *ngIf="status == 1">
			<mat-icon class="nav-toolbar-icon-menu">delete_forever</mat-icon>
		</button>
		<button mat-icon-button class="salvar" title="Salvar Apontamento" (click)="salvarApontamento()" [disabled]="!habilitado" *ngIf="status == 1">
			<mat-icon class="nav-toolbar-icon-menu">save</mat-icon>
		</button>
	</div>
</div>