.mat-expansion-panel {	
	background-color: transparent;	
	box-shadow: none !important;
	border-radius: 0 !important;
}

.mat-expansion-panel-header {
	box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
	margin-bottom: .5em;	
	height: 54px;

	& h3 {
		font-weight: 400 !important;
		font-size: 1rem;
		margin: 0 !important;
	}
}

.tarefa {
	margin: .8em 0;

	&:last-child {
		margin-bottom: 1.4em;
	}
}

.loader {
	display: block;
}

.aviso-sem-tarefa {
	box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
	border-radius: 0 !important; 
	text-align: center;

	& span {		
		font-size: 1.2em;
		font-weight: 300;
		margin: 3em;
	}
}

::ng-deep.painel-tarefas .mat-expansion-panel-body {
	padding: 0;
}

::ng-deep card-loader {
	svg {
		height: 1.3em
	}
}