<div class="modal">
	<div class="cabecalho">
		<h4>Salvar Apontamento</h4>
		<button mat-icon-button (click)="dialogRef.close()" class="btn-fechar">
			<mat-icon class="nav-toolbar-icon-menu">close</mat-icon>
		</button>
	</div>
	<mat-divider></mat-divider>
	<div class="corpo">
		<form #formulario [formGroup]="form.formGroup" (submit)="salvarApontamento()" novalidate>
			<input formControlName="colecao" name="colecao" id="colecao" type="hidden">
			<div>
				<mat-form-field appearance="outline" class="data">
					<mat-label>Data do Apontamento:</mat-label>
					<input matInput formControlName="data" name="data" id="data" [max]="dataAtual" [matDatepicker]="picker">
					<mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
					<mat-datepicker #picker></mat-datepicker>
					<mat-error *ngFor="let error of form.errors.data">{{ error.descricao }}</mat-error>
				</mat-form-field>
				<mat-form-field appearance="outline" class="tempo" [style.width.px]=170>
					<mat-label>Tempo Total:</mat-label>
					<input matInput formControlName="tempoTotal" name="tempoTotal" id="tempoTotal" min="00:01" type="time">		
					<mat-icon matSuffix>av_timer</mat-icon>			
					<mat-error *ngFor="let error of form.errors.tempoTotal">{{ error.descricao }}</mat-error>
				</mat-form-field>
			</div>
			<div>
				<mat-form-field appearance="outline" class="comentario" [style.height.px]=135>
					<mat-label>Comentário:</mat-label>
					<textarea matInput formControlName="comentario" name="comentario" id="comentario" rows="6"></textarea>
					<mat-error *ngFor="let error of form.errors.comentario">{{ error.descricao }}</mat-error>
				</mat-form-field>
			</div>
			<mat-divider style="margin-top: 45px;"></mat-divider>
			<div class="acoes">		
				<button mat-raised-button color="warn" (click)="dialogRef.close()">Cancelar</button>
				<button mat-raised-button color="primary" type="submit" [disabled]="!form.formGroup.valid">Salvar</button>		
			</div>
		</form>
	</div>
</div>