.modal {

	& .cabecalho {
		display: flex;

		& > h4 {
			margin: 0 0 5px 0;
			width: 100%;
			align-items: center;
    		display: flex;
		}

		& > .btn-fechar {
			margin: 0 0 5px 0;
		}
	}

	& .corpo {
		padding: 20px 0;

		& .tempo {
			& ::ng-deep.mat-form-field-infix {
				padding: 11px 0;
				text-align: center;
			}

			& ::ng-deep.mat-form-field-subscript-wrapper {
				padding: 0;
			}

			& ::ng-deep.mat-form-field-flex {
				width: 120px;
			}

			input {
				vertical-align: top;

				&::-webkit-calendar-picker-indicator {
					display: none;
				}

                &::after {
                    content: unset;
                }
			}

			.mat-icon {
				font-size: 135%;
			}
		}

		& .data {
			margin-right: 1em;

			& ::ng-deep.mat-form-field-label {
				text-align: left;
				transform: translateY(-1.67em) scale(0.84);
			}

			& ::ng-deep.mat-form-field-infix {
				display: flex;
				padding: 0;
				text-align: center;
			}

			& ::ng-deep.mat-form-field-outline-start {
				width: 6px;
			}

			& ::ng-deep.mat-form-field-outline-gap {				
				border-top-color: rgba(0,0,0,0);
				width: 143px !important;
			}

			& ::ng-deep.mat-datepicker-toggle {
				z-index: 99;
			}
		}

		& .comentario {
			width: 100%;

			& textarea {
				resize: none;
			}

			& ::ng-deep.mat-form-field-wrapper {
				padding-bottom: 0.5em;
			}

			& ::ng-deep.mat-form-field-subscript-wrapper {
				margin-top: 20px;
				padding: 0;				
			}
		}
	}

	& .acoes {
		margin-top: 15px;
		float: right;

		& button:nth-child(1) {
			margin-right: 10px;
		}
	}
}

