<div *ngIf="usuarioLogado">
	<mat-card class="quadro-aviso" *ngIf="!usuarioLogado.possuiContaPonto">
		<h4>Seus dados não foram encontrados no sistema de ponto.</h4>
	</mat-card>

	<mat-card class="quadro-aviso" *ngIf="!usuarioLogado.possuiContaTfs">
		<h4>Seus dados não foram encontrados no TFS.</h4>
	</mat-card>

	<mat-card class="quadro-aviso" *ngIf="!usuarioLogado.possuiContaChannel">
		<h4>Seus dados não foram encontrados no Channel.</h4>
	</mat-card>
	
	<div *ngIf="usuarioLogado.possuiContaTfs || usuarioLogado.possuiContaPonto || usuarioLogado.possuiContaChannel">
		<mat-expansion-panel class="boasvindas borda-1" [expanded]="true">
			<mat-expansion-panel-header class="cabecalho" matRipple>		
					<h2 *ngIf="dataAtual.getHours() >= 6 && dataAtual.getHours() < 12" class="nome-usuario">Bom dia, {{ usuarioLogado.nomeCompleto.split(' ')[0] }}!</h2>	
					<h2 *ngIf="dataAtual.getHours() >= 12 && dataAtual.getHours() < 18" class="nome-usuario">Boa tarde, {{ usuarioLogado.nomeCompleto.split(' ')[0] }}!</h2>	
					<h2 *ngIf="dataAtual.getHours() >= 18 || dataAtual.getHours() < 6" class="nome-usuario">Boa noite, {{ usuarioLogado.nomeCompleto.split(' ')[0] }}!</h2>	
			</mat-expansion-panel-header>

			<ng-template matExpansionPanelContent>
				<div class="corpo">
					<section class="mensagem">				
						<h2 *ngIf="eHoje(dataSelecionada)">Seu resumo de hoje</h2>
						<h2 *ngIf="!eHoje(dataSelecionada)">Seu resumo do dia {{ dataSelecionada | date : "d 'de' MMMM 'de' yyyy" }}</h2>

						<mat-form-field appearance="fill" class="datepicker">
							<input matInput [matDatepicker]="picker" [max]="dataAtual" (dateChange)="onDataAlterada($event.value)">
							<mat-datepicker #picker></mat-datepicker>
						</mat-form-field>
						<button mat-icon-button (click)="picker.open()" class="btn-editar-data">
							<mat-icon>edit_calendar</mat-icon>
						</button>
						<button mat-icon-button (click)="obterBatidasEApontamentosPorDia(this.dataSelecionada)" title="Atualizar" class="btn-refresh">
							<mat-icon>refresh</mat-icon>
						</button>
					</section>
					<section *ngIf="!carregando" class="informacoes">
                        <resumo-apontamentos [tempoApontadoNaoSincronizado]="tempoTotalApontadoNaoSincronizadoNoDia"
                                             [tempoApontadoSincronizado]="tempoTotalApontadoSincronizadoNoDia"
                                             [tempoTrabalhado]="tempoTotalTrabalhadoNoDia">
                        </resumo-apontamentos>
									
						<div *ngIf="(tempoTotalApontadoNoDia > 0 ||  tempoTotalTrabalhadoNoDia > 0)">
							<grafico-resumo-dia #grafico [apontamentosTfs]="apontamentosTfsDia"
												[apontamentosChannel]="apontamentosChannelDia"
												[batidas]="batidas"></grafico-resumo-dia>	
													
							<span class="observacao">
								Obs.: os apontamentos do Channel são atualizados {{ infoJobCarga ? infoJobCarga.intervaloExecucao : 'a cada 30 minutos' }}.
								<span *ngIf="infoJobCarga"> Última atualização as {{ infoJobCarga.ultimaExecucao | date : 'HH:mm \'do dia\' dd \'de\' LLLL \'de\' yyyy' }}.</span>
							</span>
						</div>
					</section>			
					<section *ngIf="carregando">
						<grafico-resumo-dia-loader style="height: 182px;"></grafico-resumo-dia-loader>
					</section>			
				</div>		
			</ng-template>
		</mat-expansion-panel>

		<div *ngIf="!carregando">
			<div *ngIf="apontamentosChannelDia">
				<quadro-atividade *ngFor="let atividade of apontamentosChannelDia.atividades"
								class="fade-in-left tarefa"
								[atividade]="atividade"></quadro-atividade>
			</div>

			<div *ngIf="apontamentosTfsDia">
				<quadro-tarefa *ngFor="let tarefa of apontamentosTfsDia.tarefas"
								class="fade-in-left tarefa"
								[tarefa]="tarefa" 
								[permiteFixar]="true"
                                (onApontamentoSalvo)="onApontamentoSalvo($event)"></quadro-tarefa>
			</div>
		</div>

		<div *ngIf="carregando">	
			<quadro-tarefa-loader class="tarefa" style="display: block;" *ngFor="let index of [].constructor(4)"></quadro-tarefa-loader>
		</div>
	</div>
</div>