.loader {
    & .mat-table {
        width: 100%;
        border-bottom: 0!important;
    }

   & th {
        font-weight: 500;
        font-size: .85rem;
        border-bottom-color: rgba(255, 255, 255, 0.12) !important;
        border-bottom-width: 1px !important;
        border-bottom-style: solid !important;
        text-align: start;
    }

    & td {
        font-weight: 300;
        border-bottom-color: rgba(255, 255, 255, 0.12) !important;
        border-bottom-width: 1px !important;
        border-bottom-style: solid !important;
    }

    & th.mat-header-cell:first-of-type, td.mat-cell:first-of-type {
        padding-left: 24px;
    }

    & tr {
        height: 48px;
    }

    & tr.mat-header-row {
        height: 56px;
    }

    & ::ng-deep {
        svg {
            height: 1.8em;
        }

        content-loader {
            overflow: hidden;
            display: grid!important;
        }
    }
}

.mat-table {
    width: 100%;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;

    & th {        
        font-weight: 500;
        font-size: .85rem;
    }
    
    td {
        font-weight: 300;
    }

    & .mat-column-tempoTrabalhado {
        text-align: center;
    }

    & .mat-column-tempoApontadoChannel {
        text-align: center;
    }

    & .mat-column-tempoApontadoTfs {
        text-align: center;
    }

    & .mat-column-diferenca {
        text-align: center;
    }

    & .mat-column-situacao {     
        text-align: center;        
    }
}