.tarefa {
	margin: .8em 0;
}

.cabecalho {
	margin-bottom: 1.5em;
}

.resultados {

	& > h3 {
		margin: 2em 0;
		font-weight: 400;
		text-align: center;
	}
}

.aviso-sem-tarefa {
	box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
	border-radius: 0 !important; 
	text-align: center;

	& span {		
		font-size: 1.2em;
		font-weight: 300;
		margin: 3em;
	}
}