<div *ngIf="usuarioLogado" class="container s2">
	<mat-card class="quadro-aviso" *ngIf="!usuarioLogado.possuiContaTfs">
		<h4>Seus dados não foram encontrados no TFS.</h4>
	</mat-card>

	<div *ngIf="usuarioLogado.possuiContaTfs">
		<section *ngIf="pagina" class="cabecalho">
			<mat-paginator class="borda-1 background-1" [length]="pagina.totalResultados"
				[pageSize]="pagina.tamanhoPagina"
				[pageIndex]="pagina.numeroPagina - 1"
				[pageSizeOptions]="[10,15,20]"
				(page)="onEventoPagina($event)"></mat-paginator>
		</section>

		<section class="resultados" *ngIf="!carregando">
			<div *ngIf="pagina.totalResultados > 0">
				<quadro-tarefa class="fade-in-left tarefa"
								[tarefa]="tarefa" 
								[permiteFixar]="true" 
								[permiteApontar]="tarefa.apontamentoHabilitado"
								[ngStyle]="{ 'animation-delay': tarefa.fixada ? ((i * 0.1) + 's') : '0s', 'opacity': tarefa.fixada ? 0 : 1 }"						 			
								*ngFor="let tarefa of pagina.tarefas; let i = index">
				</quadro-tarefa>
			</div>

			<mat-card *ngIf="pagina.totalResultados === 0" class="aviso-sem-tarefa borda-1">
				<span>A busca não retornou resultados</span>
			</mat-card>
		</section>

		<section *ngIf="carregando">
			<quadro-tarefa-loader class="tarefa" style="display: block;" *ngFor="let index of [].constructor(8)"></quadro-tarefa-loader>
		</section>
	</div>
</div>