body {
	font-family: Roboto, "Helvetica Neue", sans-serif;
    overflow: overlay;
	margin: 0;
}

html,
body {
	height: 100%;
}

.badge {
	display: inline-block;
	padding: 0.3em 0.55em;
	margin-left: 0.4em;
	font-size: 0.9em;
	font-weight: 700;
	line-height: 1;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: 0.3rem;

	&.info {
		background-color: #39c0ed;
	}

	&.error {
		background-color: #f93154;
	}

	&.sucess {
		background-color: #00b74a;
	}
}

.mat-dialog-container {
	border-radius: 0 !important;
}

.quadro-aviso {
	background-color: #f93154!important;
	color: white!important;
	border-radius: 0!important;
	margin-bottom: 1.3em;
	box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;

	& > h4 {
		color: white;
		font-weight: 500;
	}
}


@keyframes fade-in-left {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.fade-in-left {
	-webkit-animation-name: fade-in-left;
	animation-name: fade-in-left;
	animation-duration: 750ms;
	animation-fill-mode: both;
}

@keyframes fade-out-left {
	from {
		opacity: 1;
		height: 123.781px;
	}

	to {
		opacity: 0;
		height: 0;
		margin-top: -11px;
	}
}

.fade-out-left,
.fade-out-left > * {
	-webkit-animation-name: fade-out-left;
	animation-name: fade-out-left;
	animation-duration: 750ms;
	animation-fill-mode: both;
}

::-webkit-scrollbar {
    width: 16px
}

::-webkit-scrollbar-thumb {
    height: 56px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    border: 4px solid transparent;
    background-clip: content-box;
    background-color: hsl(0,0%,67%)
}

.container {
    margin-left: auto;
	margin-right: auto;

    &.s1 {
        max-width: 860px;
    }

    &.s2 {
        max-width: 1080px;
    }

    &.s3 {
        max-width: 1280px;
    }

    &.s4 {
        max-width: 1380px;
    }
}


.loading-spinning {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.32);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
