@use 'sass:map';
@use '@angular/material' as mat;

@include mat.core();

$dark-palette: (
	50:#FAFAFA,
	100:#F5F5F5,
	200:#EEEEEE,
	300:#E0E0E0,
	400:#BDBDBD,
	500:#9E9E9E,
	600:#757575,
	700:#616161,
	800:#424242,
	900:#212121,
	contrast: (
		50: rgba(black, 0.87),
		100: rgba(black, 0.87),
		200: rgba(black, 0.87),
		300: white,		
	)
);

$theme-primary: mat.define-palette($dark-palette, 500);
$theme-accent: mat.define-palette(mat.$pink-palette, 500);
$theme-warn: mat.define-palette(mat.$red-palette);

$theme: mat.define-dark-theme((
	color: (
		primary: $theme-primary,
		accent: $theme-primary,
		warn: $theme-warn
	)
));

$foreground: map.get($theme, foreground);
$background: map.get($theme, background);
$color-primary: mat.define-palette($dark-palette, 800);

.dark-mode {

	.borda-1 {
		border: 1px solid mat.get-color-from-palette($foreground, divider)!important;
	}

	.background-1 {
		background-color: mat.get-color-from-palette($background, card)!important;
	}

	.background-primary-1 {
		background-color: mat.get-color-from-palette($color-primary)!important;
	}
	
	@include mat.all-component-colors($theme);
}
