<div class="nav-container">
	<mat-toolbar color="primary" class="background-primary-1">
		<mat-toolbar-row class="nav-toolbar-row">
			<div fxFlex.gt-md="75%" fxFlex.gt-sm="85%" fxFlex.gt-xs="90%" fxFlex="100%" fxLayoutAlign="center center">
				<div>
					<button *ngIf="usuarioLogado && usuarioLogado.possuiContaTfs" mat-icon-button class="nav-toolbar-btn-menu" (click)="sidenav.toggle()" fxShow="true" fxHide.gt-xs>
						<mat-icon class="nav-toolbar-icon-menu">menu</mat-icon>
					</button>
					<button mat-button class="nav-toolbar-brand" fxHide.xs>
						<span>Controle de Apontamentos</span>
					</button>
				</div>
				<div fxShow="true" fxHide.lt-lg>
					<a mat-button class="btn-menu" *ngIf="usuarioLogado && usuarioLogado.possuiContaTfs" [routerLink]="['/tarefa/minhas-tarefas']">Minhas Tarefas</a>
					<a mat-button class="btn-menu" *ngIf="usuarioLogado" [matMenuTriggerFor]="menuApontamentos">Meus Apontamentos</a>
					<mat-menu #menuApontamentos>
						<a mat-menu-item class="btn-menu" [routerLink]="['/apontamento/por-dia']">Apontamentos por Dia</a>
						<a mat-menu-item class="btn-menu" [routerLink]="['/apontamento/por-mes']">Apontamentos por Mês</a>
					</mat-menu>
					<a mat-button class="btn-menu" *ngIf="usuarioLogado?.possuiRole('administrador')" [matMenuTriggerFor]="menuAdministracao">Administração</a>
                    <mat-menu #menuAdministracao>
						<a mat-menu-item class="btn-menu" [matMenuTriggerFor]="menuUsuarios">Usuários</a>
                        <mat-menu #menuUsuarios>
                            <a mat-menu-item class="btn-menu" [matMenuTriggerFor]="menuApontamentosUsuarios">Apontamentos</a>
                            <mat-menu #menuApontamentosUsuarios>
                                <a mat-menu-item class="btn-menu" [routerLink]="['/administracao/apontamentos-usuario/por-dia']">Por Dia</a>
                                <a mat-menu-item class="btn-menu" [routerLink]="['/administracao/apontamentos-usuario/por-mes']">Por Mês</a>
                            </mat-menu>
                        </mat-menu>
					</mat-menu>
				</div>
				<span class="menu-spacer"></span>
				<div class="nav-busca" *ngIf="usuarioLogado && usuarioLogado.possuiContaTfs">
					<mat-form-field appearance="standard">
						<input matInput name="filtros.palavraChave" (keyup.enter)="buscarTarefas()" placeholder="Buscar" [(ngModel)]="filtros.palavraChave" type="text" [matMenuTriggerFor]="menuFiltroBusca" required>
						<mat-icon matSuffix>search</mat-icon>
					</mat-form-field>
					
					<mat-menu #menuFiltroBusca yPosition="below" class="menu-filtro-busca">
						<div class="colecao" *ngIf="usuarioLogado.colecoes.length > 1">
							<span>Projeto</span>
							<mat-divider></mat-divider>
							<div class="lista">		
								<mat-radio-group>
									<mat-radio-button *ngFor="let colecao of usuarioLogado.colecoes; let i = index" ngDefaultControl [(ngModel)]="filtros.colecao" [checked]="i == 0"  [value]="colecao" (click)="$event.stopPropagation()">{{ colecao  }}</mat-radio-button>
								</mat-radio-group>						
							</div>
						</div>
						<div class="status">
							<span>Status</span>
							<mat-divider></mat-divider>
							<div class="lista">		
								<ul>
									<li *ngFor="let status of filtros.status">
										<mat-checkbox [(ngModel)]="status.marcado" value="status.status" (click)="$event.stopPropagation()">{{ status.nome }}</mat-checkbox>
									</li>
								</ul>						
							</div>
						</div>
						<button mat-raised-button color="primary" (click)="buscarTarefas()" class="btn-busca">Buscar</button>
					</mat-menu>
				</div>

				<login-menu></login-menu>
				
				<div class="configuracoes">
					<button mat-icon-button [matMenuTriggerFor]="menuConfiguracoes">
						<mat-icon>settings</mat-icon>
					</button>

					<mat-menu class="menu" #menuConfiguracoes>
						<section class="titulo">
							<span>Aparência</span>
							<mat-divider></mat-divider>
						</section>
						<button mat-menu-item (click)="alterarTemaAplicacao(0)">
							<mat-icon [ngStyle]="{visibility: temaAplicacaoAtual == 0 ? 'visible' : 'hidden' }">done</mat-icon>
							<span>Usar tema do dispositivo</span>				
						</button>
						<button mat-menu-item (click)="alterarTemaAplicacao(2)">
							<mat-icon [ngStyle]="{visibility: temaAplicacaoAtual == 2 ? 'visible' : 'hidden'}">done</mat-icon>
							<span>Tema escuro</span>				
						</button>
						<button mat-menu-item (click)="alterarTemaAplicacao(1)">
							<mat-icon [ngStyle]="{visibility: temaAplicacaoAtual == 1 ? 'visible' : 'hidden'}">done</mat-icon>
							<span>Tema claro</span>				
						</button>						
					</mat-menu>
				</div>
			</div>
		</mat-toolbar-row>

		<mat-toolbar-row *ngIf="usuarioLogado" class="nav-toolbar-row" fxHide.xs fxHide.gt-md>
			<div fxLayoutAlign="center center">
				<a mat-button class="btn-menu" *ngIf="usuarioLogado && usuarioLogado.possuiContaTfs" [routerLink]="['/tarefa/minhas-tarefas']">Minhas Tarefas</a>
				<a mat-button class="btn-menu" *ngIf="usuarioLogado" [matMenuTriggerFor]="menuApontamentos">Meus Apontamentos</a>
				<mat-menu #menuApontamentos>
					<a mat-menu-item class="btn-menu" [routerLink]="['/apontamento/por-dia']">Apontamentos por Dia</a>
					<a mat-menu-item class="btn-menu" [routerLink]="['/apontamento/por-mes']">Apontamentos por Mês</a>
				</mat-menu>
                <a mat-button class="btn-menu" *ngIf="usuarioLogado?.possuiRole('administrador')" [matMenuTriggerFor]="menuAdministracao">Administração</a>
                <mat-menu #menuAdministracao>
                    <a mat-menu-item class="btn-menu" [matMenuTriggerFor]="menuUsuarios">Usuários</a>
                    <mat-menu #menuUsuarios>
                        <a mat-menu-item class="btn-menu" [matMenuTriggerFor]="menuApontamentosUsuarios">Apontamentos</a>
                        <mat-menu #menuApontamentosUsuarios>
                            <a mat-menu-item class="btn-menu" [routerLink]="['/administracao/apontamentos-usuario/por-dia']">Por Dia</a>
                            <a mat-menu-item class="btn-menu" [routerLink]="['/administracao/apontamentos-usuario/por-mes']">Por Mês</a>
                        </mat-menu>
                    </mat-menu>
                </mat-menu>
			</div>
		</mat-toolbar-row>
	</mat-toolbar>

	<mat-sidenav-container fxFlexFill class="sidemenu-container">
		<mat-sidenav #sidenav>
			<mat-nav-list class="nav-sidebar-menu">
				<a mat-button class="btn-menu" *ngIf="usuarioLogado && usuarioLogado.possuiContaTfs" [routerLink]="['/tarefa/minhas-tarefas']" (click)="sidenav.close()">Minhas Tarefas</a>
				<mat-expansion-panel *ngIf="usuarioLogado">
					<mat-expansion-panel-header matRipple>
						<mat-panel-title>
							Meus Apontamentos
						</mat-panel-title>
					</mat-expansion-panel-header>
					<div>
						<a mat-menu-item class="btn-menu" [routerLink]="['/apontamento/por-dia']" (click)="sidenav.close()">Apontamentos por Dia</a>
						<a mat-menu-item class="btn-menu" [routerLink]="['/apontamento/por-mes']" (click)="sidenav.close()">Apontamentos por Mês</a>
					</div>
				</mat-expansion-panel>

                <mat-expansion-panel *ngIf="usuarioLogado?.possuiRole('administrador')">
					<mat-expansion-panel-header matRipple>
						<mat-panel-title>
							Administração
						</mat-panel-title>
					</mat-expansion-panel-header>
					<div>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header matRipple>
                                <mat-panel-title>Usuários</mat-panel-title>
                            </mat-expansion-panel-header>
                            <div>
                                <mat-expansion-panel>
                                    <mat-expansion-panel-header matRipple>
                                        <mat-panel-title>Apontamentos</mat-panel-title>
                                    </mat-expansion-panel-header>
                                    <div>
                                        <a mat-menu-item class="btn-menu" [routerLink]="['/administracao/apontamentos-usuario/por-dia']">Por Dia</a>
                                        <a mat-menu-item class="btn-menu" [routerLink]="['/administracao/apontamentos-usuario/por-mes']">Por Mês</a>
                                    </div>
                                </mat-expansion-panel>
                            </div>
                        </mat-expansion-panel>
					</div>
				</mat-expansion-panel>
			</mat-nav-list>
		</mat-sidenav>
		<mat-sidenav-content>
			<div fxLayoutAlign="center" class="container">
				<router-outlet></router-outlet>
			</div>
		</mat-sidenav-content>
	</mat-sidenav-container>
</div>