<div class="loader" style="padding-top: 1.3em;" >
	<content-loader viewBox="0 0 710 182" backgroundColor="#00000000" foregroundColor="#c4c4c4">		 
		<svg:rect x="0" y="0" rx="0" ry="0" width="196" height="10" /> 
		<svg:rect x="0" y="17" rx="0" ry="0" width="270" height="10" /> 
		<svg:rect x="0" y="47" rx="0" ry="0" width="704" height="15" /> 
		<svg:rect x="0" y="74" rx="0" ry="0" width="586" height="15" /> 
		
		<svg:rect x="18" y="105" rx="0" ry="0" width="140" height="10" /> 
		<svg:rect x="167" y="105" rx="0" ry="0" width="145" height="10" /> 
		<svg:rect x="322" y="105" rx="0" ry="0" width="140" height="10" /> 		
		<svg:rect x="472" y="105" rx="0" ry="0" width="250" height="10" /> 	
	</content-loader>
</div>