<div *ngIf="usuarioLogado" class="container s3">
    <mat-card class="borda-1 filtro-usuarios">
        <mat-form-field appearance="outline">
            <input matInput (keyup)="filtrarGrid($event)" #input placeholder="Buscar usuários">
        </mat-form-field>
    </mat-card>

    <div>
        <div class="loading" *ngIf="salvando">
            <mat-spinner></mat-spinner>    
        </div>
        <table mat-table [dataSource]="usuariosApp" class="borda-1" [ngStyle]="{'display': carregando ? 'none' : 'table'}">
            <ng-container matColumnDef="nomeCompleto">
                <th mat-header-cell *matHeaderCellDef> Nome Completo </th>
                <td mat-cell *matCellDef="let usuario"> {{usuario.nomeCompleto}} </td>
            </ng-container>

            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef> Email </th>
                <td mat-cell *matCellDef="let usuario"> {{usuario.email}} </td>
            </ng-container>

            <ng-container matColumnDef="usuarioTfs">
                <th mat-header-cell *matHeaderCellDef> Nome de Usuário TFS </th>
                <td mat-cell *matCellDef="let usuario">
                    <span>{{usuario.usuarioTfs?.nomeUsuario}}</span>
                </td>
            </ng-container>

            <ng-container matColumnDef="usuarioChannel">
                <th mat-header-cell *matHeaderCellDef> Nome de Usuário Channel </th>
                <td mat-cell *matCellDef="let usuario">
                    <span>{{usuario.usuarioChannel?.nomeUsuario}} </span>
                </td>
            </ng-container>

            <ng-container matColumnDef="numeroFolha">
                <th mat-header-cell *matHeaderCellDef> Nº Folha </th>
                <td mat-cell *matCellDef="let usuario">
                    <span>{{usuario.funcionarioPonto?.numeroFolha}}</span>
                </td>
            </ng-container>

            <ng-container matColumnDef="administrador">
                <th mat-header-cell *matHeaderCellDef class="col-administrador"> Administrador </th>
                <td mat-cell *matCellDef="let usuario" class="col-administrador">
                    <button mat-icon-button disabled class="btn-administrador" color="primary">
                        <mat-icon color="primary" *ngIf="usuario.ehAdministrador">check</mat-icon>
                    </button>
                </td>
            </ng-container>

            <ng-container matColumnDef="acoes">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let usuario">
                    <button mat-icon-button (click)="editarUsuario(usuario)" title="Editar" class="btn-editar" color="primary">
                        <mat-icon>edit</mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="colunasGridUsuarios"></tr>
            <tr mat-row *matRowDef="let row; columns: colunasGridUsuarios;"></tr>
        </table>
    </div>

    <usuarios-loader *ngIf="carregando" [quantidadeLinhas]="15"></usuarios-loader>

    <mat-paginator [pageSize]="15" [pageSizeOptions]="[10,15,20]" class="borda-1 paginator"></mat-paginator>
</div>