<div class="quadro-atividade">
	<mat-card class="borda-1">
		<div class="container">
			<div class="status-atividade">
			</div>
			<div class="info-atividade">
				<div>
					<div *ngIf="atividade.tipoApontamentos == 0" class="titulo-pai" title="APONTAMENTOS ESPECIAIS">
						<h5>APONTAMENTOS ESPECIAIS</h5>
					</div>

					<div *ngIf="atividade.tipoApontamentos == 1 || atividade.tipoApontamentos == 2" class="titulo-pai" title="atividade.nomeProjeto">
						<h5>{{ atividade.nomeProjeto }}</h5>
					</div>
				</div>

				<div [ngSwitch]="atividade.tipoApontamentos">
					<div *ngSwitchCase="0" class="titulo" title="APONTAMENTOS AVULSOS">
						<strong>AVULSOS</strong>
					</div>

					<div *ngSwitchCase="1" class="titulo" [title]="'ATIVIDADE ' + atividade.codigo + ' - ' +  atividade.nome">
						<strong>
							<a mat-flat-button target="_blank" [href]="atividade.obterLinkApontamentosProjetoChannel()">ATIVIDADE {{ atividade.codigo }}</a> - {{ atividade.nome }}
						</strong>
					</div>

					<div *ngSwitchCase="2" class="titulo" [title]="atividade.nomeProjeto">
						<strong>
							PROJETO {{ atividade.idProjeto }} - {{ atividade.nomeProjeto }}
						</strong>
					</div>
				</div>

				<div class="designado">
					<span>
						{{ atividade.tempoTotalApontado | tempoApontado: 'sync' }}
					</span>
				</div>
			</div>
		</div>
		<button mat-button [ngStyle]="{'opacity': atividade.apontamentos.length > 0 ? '1' : '0'}" class="btn-expandir" fxShow="true" (click)="apontamentosExpandido = !apontamentosExpandido" fxHide.gt-xs>
			<mat-icon class="nav-toolbar-icon-menu">{{ apontamentosExpandido ? 'expand_less' : 'expand_more' }}</mat-icon>
		</button>		
	</mat-card>

	<mat-expansion-panel class="lista-apontamentos background-1 borda-1" *ngIf="atividade.apontamentos.length > 0" [(expanded)]="apontamentosExpandido">
		<ng-template matExpansionPanelContent>
			<ul>
				<li *ngFor="let apontamento of atividade.apontamentos" class="apontamento">
					<a mat-flat-button class="link-apontamento" [href]="apontamento.obterLinkApontamentoChannel()" target="_blank">
						<span title="Sincronizado com o Channel" class="badge sucess">Channel</span>						
						<span>
							<span class="data">{{ apontamento.data | date:'dd/MM/yyyy'}}</span>
							<b>{{ apontamento.usuario }}</b> - {{ apontamento.tempo | tempo }} - {{ apontamento.comentario != "" ? apontamento.comentario : "Nenhum comentário adicionado." }}</span>
					</a>
				</li>
			</ul>
		</ng-template>
	</mat-expansion-panel>
</div>