<div class="loader" style="padding-top: 1.3em;" >
	<content-loader viewBox="0 0 730 200" backgroundColor="#00000000" foregroundColor="#c4c4c4">		 
		<svg:rect x="0" y="0" rx="0" ry="0" width="196" height="10" /> 
		<svg:rect x="0" y="17" rx="0" ry="0" width="270" height="10" />

        <svg:rect x="0" y="75" rx="0" ry="0" width="8" height="90" /> 
		<svg:rect x="9" y="75" rx="0" ry="0" width="8" height="90" />

		<svg:rect x="24" y="45" rx="0" ry="0" width="8" height="120" /> 
		<svg:rect x="33" y="45" rx="0" ry="0" width="8" height="120" />

		<svg:rect x="48" y="65" rx="0" ry="0" width="8" height="100" /> 
		<svg:rect x="57" y="65" rx="0" ry="0" width="8" height="100" />

		<svg:rect x="130" y="75" rx="0" ry="0" width="8" height="90" /> 
		<svg:rect x="139" y="75" rx="0" ry="0" width="8" height="90" />

		<svg:rect x="154" y="45" rx="0" ry="0" width="8" height="120" /> 
		<svg:rect x="163" y="45" rx="0" ry="0" width="8" height="120" />

		<svg:rect x="178" y="65" rx="0" ry="0" width="8" height="100" /> 
		<svg:rect x="187" y="65" rx="0" ry="0" width="8" height="100" />

		<svg:rect x="202" y="80" rx="0" ry="0" width="8" height="85" /> 
		<svg:rect x="211" y="80" rx="0" ry="0" width="8" height="85" />

		<svg:rect x="226" y="75" rx="0" ry="0" width="8" height="90" /> 
		<svg:rect x="235" y="75" rx="0" ry="0" width="8" height="90" />

		<svg:rect x="299" y="55" rx="0" ry="0" width="8" height="110" /> 
		<svg:rect x="308" y="55" rx="0" ry="0" width="8" height="110" />

		<svg:rect x="323" y="45" rx="0" ry="0" width="8" height="120" /> 
		<svg:rect x="332" y="45" rx="0" ry="0" width="8" height="120" />

		<svg:rect x="347" y="65" rx="0" ry="0" width="8" height="100" /> 
		<svg:rect x="356" y="65" rx="0" ry="0" width="8" height="100" />

		<svg:rect x="371" y="80" rx="0" ry="0" width="8" height="85" /> 
		<svg:rect x="380" y="80" rx="0" ry="0" width="8" height="85" />

		<svg:rect x="395" y="55" rx="0" ry="0" width="8" height="110" /> 
		<svg:rect x="404" y="55" rx="0" ry="0" width="8" height="110" />

		<svg:rect x="467" y="45" rx="0" ry="0" width="8" height="120" /> 
		<svg:rect x="476" y="45" rx="0" ry="0" width="8" height="120" />

		<svg:rect x="491" y="75" rx="0" ry="0" width="8" height="90" /> 
		<svg:rect x="500" y="75" rx="0" ry="0" width="8" height="90" />

		<svg:rect x="515" y="65" rx="0" ry="0" width="8" height="100" /> 
		<svg:rect x="524" y="65" rx="0" ry="0" width="8" height="100" />

		<svg:rect x="539" y="55" rx="0" ry="0" width="8" height="110" /> 
		<svg:rect x="548" y="55" rx="0" ry="0" width="8" height="110" />

		<svg:rect x="563" y="80" rx="0" ry="0" width="8" height="85" /> 
		<svg:rect x="572" y="80" rx="0" ry="0" width="8" height="85" />

		<svg:rect x="635" y="65" rx="0" ry="0" width="8" height="100" /> 
		<svg:rect x="644" y="65" rx="0" ry="0" width="8" height="100" />

		<svg:rect x="659" y="45" rx="0" ry="0" width="8" height="120" /> 
		<svg:rect x="668" y="45" rx="0" ry="0" width="8" height="120" />

		<svg:rect x="683" y="65" rx="0" ry="0" width="8" height="100" /> 
		<svg:rect x="692" y="65" rx="0" ry="0" width="8" height="100" />

		<svg:rect x="707" y="80" rx="0" ry="0" width="8" height="85" /> 
		<svg:rect x="716" y="80" rx="0" ry="0" width="8" height="85" />
		
		<svg:rect x="18" y="190" rx="0" ry="0" width="140" height="10" /> 
		<svg:rect x="167" y="190" rx="0" ry="0" width="145" height="10" /> 
		<svg:rect x="322" y="190" rx="0" ry="0" width="140" height="10" /> 		
		<svg:rect x="472" y="190" rx="0" ry="0" width="250" height="10" /> 	

		<svg:rect x="147" y="204" rx="0" ry="0" width="315" height="10" /> 	
	</content-loader>
</div>